In [1]:
import sqlite3

mydb=sqlite3.connect("Studentsdatabase.db")

cursor=mydb.cursor()

In [36]:
cursor.execute("""
               CREATE TABLE IF NOT EXISTS students (
               ID INTEGER PRIMARY KEY,
               STUDENT_NAME TEXT NOT NULL,
               TUDENT_EMAIL TEXT,
               phone_number INTEGER)""")
print("students table created sucessfully")

students table created sucessfully

In [37]:
cursor.execute(""" INSERT INTO Students (ID, Student_Name, Student_EMAIL, Phone_Number)
VALUES 
    (1, 'Liam Gentry', 'liamgentry@example.com', '9876543210'),
    (2, 'Lyric Glass', 'lyricglass@example.com', '9876543211'),
    (3, 'Jake Shuler', 'jakeshuler@example.com', '98765499')""")
print(cursor.fetchall())
mydb.commit()

OperationalError: table Students has no column named ID